&nbsp;
<hr />
<p style="text-align: center;">A work by <a href="https://bitbucket.org/%7B71f13399-fad8-47c1-a96a-32750eaa7f26%7D/">Danielle Jeffery</a></p>
<p style="text-align: center;"><span style="color: #808080;"><em>danielle.jael.jeffery@gmail.com</em></span></p>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<p style="text-align: center;">
    <a href="https://www.linkedin.com/in/danielle-jeffery" class="fa fa-linkedin" style="font-size:48px;"></a>
    <a href="https://bitbucket.org/%7B71f13399-fad8-47c1-a96a-32750eaa7f26%7D/" class="fa fa-bitbucket" style="font-size:48px;"></a>
</p>

&nbsp;